.annotator-open {
  overflow: hidden;
}
.annotatorSlide-enter {
  transform: translate3d(0, 100%, 0);
}
.annotatorSlide-enter.annotatorSlide-enter-active,
.annotatorSlide-exit {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  transition-timing-function: ease-out;
}
.annotatorSlide-exit {
  transform: translate3d(0, 0, 0);
  transition-timing-function: ease-in;
  transition: all 600ms;
}
.annotatorSlide-exit.annotatorSlide-exit-active {
  transform: translate3d(0, 100%, 0);
}
.annotatorFade-enter {
  opacity: 0.01;
}
.annotatorFade-enter.annotatorFade-enter-active {
  opacity: 1;
  transition: opacity 500ms 0ms;
}
.annotatorFade-exit {
  opacity: 1;
}
.annotatorFade-exit.annotatorFade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms 0ms;
}

.Annotator {
	position: absolute;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #000;
  z-index: 99;
}
.Annotator header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  background: #212529;
  color: white;
  border-bottom: 1px solid rgb(255,255,255,0.3);
}
.Annotator footer {
	display: flex;
  justify-content: center;
	height: 44px;
	background: #212529;
	color: white;
	border-top: 1px solid rgb(255,255,255,0.7);
}
.Annotator footer .buttons {
	display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
  width: 100%;
  max-width: 400px;
}
.Annotator footer .buttons button {
	background: #212529;
  border: none;
  color: #fff;
  padding: 0px;
  height: 40px;
  width: 40px
}
.Annotator footer .buttons button.selected {
	background: rgb(255,255,255,0.2);
  border-radius: 20px;
}
.Annotator footer .buttons object {
	width: 21px;
  pointer-events: none;
}
.Annotator .title {
	font-weight: 500;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.Annotator .cancel,
.Annotator .cancel:active,
.Annotator .done,
.Annotator .done:active {
  color: #2979FF;
  font-weight: 500;
  padding: 0px 16px;
  text-align: unset;
  border: unset;
  border-radius: unset;
  background: unset;
}
.Annotator .canvas-container {
	flex-grow: 1;
	height: fit-content;
}
.Annotator .image-container {
  height: calc(100% - 45px);
  text-align: center;
}
.Annotator .image-container img {
  max-width: 100%;
  max-height: 100%;
}
.Annotator .annotate-container {
	display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Annotator .hide {
	display: none;
}
.Annotator .comment-container {
  position: absolute;
  left: 2%;
  width: calc(96% - 4px);
  border-radius: 4px;
  min-height: 3em;
  max-height: 10em;
  padding: 0;
  background: #fff;
  border: 2px solid lightgrey;
  bottom: 52px;
  display: block;
}
.Annotator .comment-container:before, 
.Annotator .comment-container:after {
  top: 100%;
  left: 58%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.Annotator .comment-container:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #ccc;
  border-width: 13px;
  margin-left: -10px;
}
.Annotator .comment-container:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -7px;
}
.Annotator [name='comment'] {
  padding: 6px 6px;
  resize: none;
  height: auto;
  width: 100%;
  display: block;
  border: none;
  box-sizing: border-box;
}